
html, body{
    height: 1062px;
    width: 1494px;
    background: url(images/gfbg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.loginbox{
    background: rgb(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    position: absolute;
    height: 702px;
    width: 462px;
    top: 178px; 
    left: 932px; 
    backdrop-filter: blur(10px);
    border-radius: 12px;
    font-family: 'Exo', sans-serif;
    color: white;
}

.loginbox__title{
    position: absolute;
    top: 40px;
    bottom: 635px;
    left: 50px;
    right: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 700px;
}

.loginbox__text{
    position: absolute;
    top: 75px;
    bottom: 599px;
    left: 50px;
    right: 50px;
    text-align: center;
    font-size: 15px;
    padding-top: 8px;
}

.loginbox__email{
    position: absolute;
    top: 135px;
    bottom: 520px;
    left: 50px;
    right: 50px;
    width: 362px;
    height: 47px;
    border-radius: 4px;
}

.loginbox__password{
    position: absolute;
    top: 198px;
    bottom: 457px;
    left: 50px;
    right: 50px;
    width: 362px;
    height: 47px;
    border-radius: 4px;
}

.loginbox__checkbox{
    height: 20px;
    width: 20px;
    appearance: none;
    position: absolute;
    top: 258px;
    bottom: 424px;
    left: 50px;
    right: 392px;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
}

.loginbox__checkbox:checked {
	background-color: #5FE19B;
    content: "assets/images/check";
}

.loginbox__checkbox:checked:after {
    content: "\2714";
    color:#FFFFFF;
    position: absolute;
    left: 2.5px;
}

.loginbox__rememberme{
    position: absolute;
    font-size: 14px;
    top: 263px;
    bottom: 424px;
    left: 86px;
    right: 275.36px; 
    align-items: center;
}

.loginbox__forgot{
    position: absolute;
    font-size: 14px;
    top: 263px;
    bottom: 424px;
    left: 292px;
    right: 49.65px; 
    color: #5FE19B;
    align-items: center;
}

.loginbox__login{
    position: absolute;
    height: 47px;
    width: 362px;
    border-radius: 6px;
    top: 302px;
    bottom: 353px;
    left: 50px;
    right: 50px; 
    background: #4CC986;
    align-items: center;
    font-size: 18px;
    color: #FFFFFF;
}

.loginbox__registered{
    position: absolute;
    font-size: 14px;
    top: 381px;
    bottom: 302px;
    left: 120px;
    right: 213.35px; 
    align-items: center;
}

.loginbox__register{
    position: absolute;
    font-size: 14px;
    top: 396px;
    bottom: 302px;
    left: 253.84px;
    right: 119.98px; 
    color: #5FE19B;
    align-items: center;
}

hr{
    position: absolute;
    top: 434px;
    width: 147.44px;
    border: 0.1px solid #FFFFFF;
}

.loginbox__hr1{
    left: 50px;
}

.loginbox__hr2{
    right: 50px;
}

.logo{
    position: relative;
    height: 37px;
    width: 293px;
    left: 14px;
    top: 14px;
}

.or{
    position: absolute;
    top: 420px;
    left: 197.44px;
    right: 197.44px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.loginbox__social{
    position: absolute;
    width: 362px;
    height: 47px;
    left: 50px;
    right: 50px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 6px;
    font-size: 18px;
    background: transparent;
    font-weight: 700;
}

.facebook{
    top: 473px;
    bottom: 182px;
}

.facebookicon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50px;
    top: 25%;
}

.twitter{
    top: 544px;
    bottom: 111px;
}

.twittericon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50px;
    top: 25%;
}

.google{
    top: 615px;
    bottom: 40px;
}

.googleicon{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50px;
    top: 25%;
}
